*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --text: #e7e7e0;
    --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}

a{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body{
    background-color:#010101;
    color:#fff;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}

.main-header{
    position: relative;
}

.main-header::after{
    content: '';
    position: absolute;
    z-index:100;
    width:100%;
    height:calc(var(--index)*10);
    background-image: url(../img/ground.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom:calc(var(--index) * -4.5)
}

.layers{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer{
    width:100%;
    height:100%;
    position:absolute;
    background-size: cover;
    /* background-position: center; */
    will-change: transform;
    transition:var(--transition);
    z-index:2;
}

.layers_base{
    transform: translate3d(0,calc(var(--scrollTop) / 1.6), 0);
    z-index:0;
}

.layers_middle{
    transform: translate3d(0,calc(var(--scrollTop) / 2.5), 0);
    
}

.layers_front{
    transform: translate3d(0,calc(var(--scrollTop) / 5.7), 0);
}

.layer_header{
    z-index:1;
    transform: translate3d(0,calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color:#e1d586;
    text-shadow: 0 0 25px #9e7d35;
    transition:var(--transition);
}

.layers_caption{
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
    
    
}


.layers_title{
    font-size: calc(var(--index)*2.5);
    letter-spacing: calc(var(--index) / 2.5);
    margin-top: calc(var(--index) * -.75);;
}


.main-article{
    --main-article-transform:translate3d(0, calc(var(--scrollTop) / 7.5),0);
    min-height:100vh;
    background-size:cover;
    background-position:center;
    color: var(--text);
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.main-article_header{
    text-transform:uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    transform: var(--main-article-transform);
    will-change: transform;
    transition:var(--transition);
}

.main-article_paragraph{
    max-width: calc(var(--index) * 30);
    font-size:calc(var(--index) * .9);
    margin-top:calc(var(--index) / 1.25);
    transform:var(--main-article-transform);
    will-change: transform;
    transition:var(--transition);
}

.content{
    will-change: transform;
}
.copy{
    position:absolute;
    bottom:calc(var(--index) * 2.5);
    opacity: .45;
    font-size:calc(var(--index) * .75);
    letter-spacing:calc(var(--index) / 37.5);
}


.header{
    background-color:#20325a61;
    box-shadow: inset 6px 7px 20px 2px #61dfd98c;
    width:100vw;
    height:10vh;
    z-index:101;
    position: fixed;
    display:flex;
}

.logo{
    width:50px;
    height:50px;
    position: absolute;
    left:35px;
    top:6px;
    cursor: pointer;
}

.logo:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.header-in-left input{
    position:absolute;
    left:95px;
    top:17px;
    height:31px;
    width:208px;
    border-radius: 20px;
    outline:none;
    font-size: 20px;
    border:none;
}

.header-in-left input:hover{
    box-shadow: inset 0px 0px 18px 7px #25e772d9;
}

.header-in-left input::placeholder{
    color:rgb(37, 21, 21);
    font-size: medium;
    letter-spacing: 3px;
    transform: translateX(10px);
}

.middle{
    width:375px;
    height:100%;
    position:absolute;
    left:35vw;

}
.home{
    width:28px;
    height:28px;
    position:absolute;
    top:20px;
    left:85px;
    cursor: pointer;
}

.home:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.friends{
    width:28px;
    height:28px;
    position:absolute;
    top:20px;
    left:180px;
    cursor: pointer;
}

.friends:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.groups{
    width:28px;
    height:28px;
    position:absolute;
    top:20px;
    left:275px;
    cursor: pointer;
}

.groups:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.games{
    width:28px;
    height:28px;
    position:absolute;
    top:20px;
    left:370px;
    cursor: pointer;
}

.games:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.right{
    width:375px;
    height:100%;
    position:absolute;
    right:0;
}

.menu{
    width:37px;
    height:37px;
    position:absolute;
    top:17px;
    right:27vh;
    cursor: pointer;
}

.messenger{
    width:37px;
    height:37px;
    position:absolute;
    top:17px;
    right:19vh;
    cursor: pointer;
}

.notifications{
    width:40px;
    height:40px;
    position:absolute;
    top:15px;
    right:11vh;
    cursor: pointer;
}

.account{
    width:40px;
    height:40px;
    position:absolute;
    top:15px;
    right:4vh;
    cursor: pointer;
}

.left-block{
    background-color: #40345d63;
    width:339px;
    height:51vh;
    /* z-index:101; */
    
    position:fixed;
    top:66px;

}

.ul-in-block{
    font-size: 15px;
    position: absolute;
    left: 70px;
    
    list-style: none;
    color: hsl(0, 0%, 0%);
    line-height: 43px;
}

.ul-in-block li{
    background-color: gray;
    
    text-align: start;
}

.ul-in-block img{
    width:28px;
    height:28px;

}

/* #first-icon{
    width:30px;
    height:30px;
    transform: translate(-10px, 8px);
}

.first-li{
    transform: translateX(-69px);
    cursor: pointer;
    background-color: gray;
}

#second-icon{
    width:26px;
    height:26px;
    transform: translate(-10px, 8px);
}

.second-li{
    cursor:pointer;
    transform: translateX(-69px);
}

#third-icon{
    width:26px;
    height:26px;
    transform: translate(-10px, 8px);
}

.third-li{
    cursor:pointer;
    transform: translateX(-69px);
}

#four-icon{
    width:26px;
    height:26px;
    transform: translate(-10px, 8px);
}

.four-li{
    cursor:pointer;
    transform: translateX(-69px);
}

#five-icon{
    width:26px;
    height:26px;
    transform: translate(-10px, 8px);
}

.five-li{
    cursor:pointer;
    transform: translateX(-69px);
}

#six-icon{
    width:26px;
    height:26px;
    transform: translate(-10px, 8px);
}

.six-li{
    cursor:pointer;
    transform: translateX(-69px);
}

#seven-icon{
    width:26px;
    height:26px;
    transform: translate(-10px, 8px);
}

.seven-li{
    cursor:pointer;
    transform: translateX(-69px);
} */

.left-down-block{
    background-color:blue;
    width:339px;
    position:fixed;
    display:flex;
    top:61vh;
    visibility: hidden;
}